#nav {
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0; 
    left: 0;
    background: rgba(217, 217, 217, 0.31);
    backdrop-filter: blur(16px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
}

  
  #nav-logo {
    height: 75%;
    width: auto;
  }
  
  .nav-buttons {
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Oxygen', sans-serif;
    border: 0px;
    height: 100%;
    width: auto;
    font-size: 2vw;
    transition: 0.2s ease-in-out;
  }
  
  .nav-buttons:hover {
    color: #CC00FF;
  }
  
.section-name {  
  font-family: 'Nunito', sans-serif;
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 2vw;
  height: auto;
  display: block;
  z-index: 100;
  left: 0;
}

#section-dev {
  color: rgba(0, 0, 0, 0.36);
  top: 10%;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.863));
}

#dev-bg {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 10%;
  left: 0;
  z-index: 0;
  background-color: #F5F5F5;
}

#dev-contain {
  width: 80%;
  position: absolute;
  left: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dev-contain-text {

  height: auto;
  width: auto;
  display: block;
  
}
#dev-icon {
  height: 80%;
  width: auto;
  display: block;
  border-radius: 16px;
  position: relative;
  left: -2%;
}

#dev-name {
  font-family: 'Fredoka', sans-serif;
  font-size: 3vw;
  position: absolute;
  top: 10%;
  text-align: left;
}

#dev-desc {
  font-family: 'Fredoka', sans-serif;
  font-size: 2vw;
  width: 100%;
  text-align: left;
  color: rgb(141, 141, 141);
}

#dev-more {
  font-family: 'Fredoka', sans-serif;
  font-size: 100%;
  line-height: 2vw;
  height: 15%;
  width: 20%;
  display: block;
  color: white;
  background-color: #cc00ff;
  border: 0px;
  position: absolute;
  bottom: 10%;
  border-radius: 64px;
  text-align: center;
  filter: drop-shadow(0 0 12px #cc00ff6b);
  transition: 0.3s ease-in-out;
}

#dev-more:hover {
  scale: 1.2;
}
#game-contain {
  height: 50%;
  width: 100%;
  left: 0;
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-card {
  position: absolute;
  top: 10%;
  width: 50%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

#game-logo {
  border-radius: 16px;
  display: block;
  height: 50%;
  width: auto;
  top: 0;
}
#game-name {
  font-family: 'Fredoka', sans-serif;
  font-size: 3vw;
  display: block;
  height: auto;
  width: 100%;
  text-align: center;
  top: 0;
  margin-top: 5%;
}
#game-more {
  height: 15%;
  width: 40%;
  top: 0;  
  margin-top: 5%;
  font-family: 'Fredoka', sans-serif;
  font-size: 2vw;
  color: white;
  background-color: #00BFD9;
  border: 0px;
  border-radius: 64px;
  text-align: center;
  filter: drop-shadow(0 0 12px #00BFD96b);
  transition: 0.3s ease-in-out;
}

#game-more:hover {
  scale: 1.2;
}

#section-game {
  color: rgba(0, 0, 0, 0.36);
  top: 40%;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.863));
}

#section-story {
  color: rgba(0, 0, 0, 0.36);
  top: 90%;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.863));
}

#story-contain {
  top:90%;
  position: absolute;
  height: 40%;
  width: 100%;
  left: 0;
  z-index: 0;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
}

#story-logo {
  display: block;
  margin: 0;
  height: auto;
  width: 20%;
  left: 10%;
}
#story-text{
  font-family: 'Fredoka', sans-serif;
  font-size: 3vw;
  width: 70%;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  text-align: center;
}

#story-credit{
  font-family: 'Nunito', sans-serif;
  font-size: 2vw;
  position: absolute;
  bottom: 0;
  right: 0;
}

#commu-contain {
  top: 140%;
  position: absolute;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
}

#commu-bg {
  border-radius: 32px;
  background-color: #D9D9D9;
  height: 80%;
  position: absolute;
  top: -10%;
  width: 70%;
}

#commu-text-1 {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  font-size: 2vw;
  color: #888888
}
#commu-text-2 {
  width: 100%;
  position: relative;
  top: 10%;
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  font-size: 4vw;
}

#commu-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30%;
  height: 70%;
  width: 100%;
  position: absolute;
}

.commu-button {
  border-radius: 64px;
  border: 0px;
  width: 25%;
  height: 30%;
  margin: auto;
  transition: 0.3s ease-in-out;
}

.commu-button:hover {
  scale: 1.2;
}


#commu-discord {
  background-color: #7289DA;
  filter: drop-shadow(0 0 12px #7289DA6b);
  display: flex;
  justify-content: center;
  align-items: center;
}

#commu-twitter {
  background-color: #1DA1F2;
  filter: drop-shadow(0 0 12px #1DA1F26b);
  display: flex;
  justify-content: center;
  align-items: center;
}

#commu-roblox {
  background-color: #1B2A35;
  filter: drop-shadow(0 0 12px #1B2A356b);
  display: flex;
  justify-content: center;
  align-items: center;
}

#commu-discord img {
  height: 80%;
  width: auto;
  display: block;
}

#commu-twitter img {
  height: 80%;
  width: auto;
  display: block;
}

#commu-roblox img {
  height: 100%;
  width: auto;
  display: block;
}